.jumbotron {
  background-image: url("https://pictkan.com/uploads/converted/15/07/13/399361342-restaurant-449952-lORM-1920x1280-MM-100.jpg");
  background-size: cover;
  background-position: center 40%;
  height: 550px;
}

