<footer class="mt-4 bg-secondary">
  <div class="container text-center pt-2 pb-2">
    <a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="135" height="17" border="0" title="ホットペッパー Webサービス"></a>
  </div>
</footer>